.container {
  width: 50vw;
  height: 50vh;
  background-color: #b61a1a;
}

.position {
    position:  absolute;
    width: 200px;
    height: 200px;
    background-color: #000000;  
    left: 50px;
    top: 50px;
}